<p id="notice"><%= notice %></p>

<h1>單字維護</h1>

<table>
  <thead>
    <tr>
      <td>單字</td>
      <td>說明</td>
      <th>編輯</th>
      <th>刪除</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.name %></td>
        <td><%= word.content %></td>
        <td><%= link_to 'Edit', edit_admin_word_path(word) %></td>
        <td><%= link_to 'Destroy', admin_word_path(word), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增單字', new_admin_word_path %>
