<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ryan's Learning Website</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to('Words', root_path) %></li> <!-- class="active"-->
        <li><%= link_to('Calculation', arithmetic_index_path) %></li>
        <li class="dropdown">
          <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu"> -->
            <% if current_user %>
               <li><%= link_to('Edit Words', admin_words_path ) %> </li>
            <% end %>
          </ul>
        </li>
        <!-- <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %> </li>
          <li><%= link_to('Change Password', edit_registration_path(:user)) %> </li>
        <% else %>
          <li><%= link_to('Registeired', new_registration_path(:user)) %></li>
          <li><%= link_to('Sign in', new_session_path(:user)) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
